<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Loginsane - Self-hosted, Open Source, Authentication Server</title>
  <script type="text/javascript">
  (function(url, opener) {
    var wnd = opener || window;
    if (wnd.redirect_to) {
      wnd.redirect_to(url);
    } else {
      wnd.top.location.href = url;
    }
    if (opener) window.close();
  })(<%= @callback_url.inspect %>, window.opener);
  </script>
</head>
</html>
