body { background-color: #fff; color: #333; }

body, p, ol, ul, td, input, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

code {
  background-color: #eee;
  padding: 0.3em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

body { width: 800px; margin-left: auto; margin-right: auto; }
label { font-weight: bold; }
input[type='password'], input[type='text'], input[type='submit'], textarea { border: 1px solid #888; padding: 3px; }
input:focus, textarea:focus { background-color: lightyellow; }
.hint { margin-left: 1em; font-size: 0.9em; color: #999; }
.instructions { padding: 0.2em 1em; border: 1px solid #ddd; background-color: #fafafa; }
.instructions, input[type='submit'] { -moz-border-radius: 6px; -webkit-border-radius: 6px; }
th, td { text-align: right; }
.bread { font-size: 9px; }
table { width: 90%; }